@charset "UTF-8";


body {
    margin: 0px;
}
.container-title {
    background-color: rgb(44, 44, 230);
    padding: 10px 10px;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

footer {
    background-color: rgb(44, 44, 230);
    padding: 10px 10px;
    color: #fff;
}
